<!-- Main Site Navigation-->
<div id="top-bar">
    <div class="row align-center" >
        <ul class="menu center" data-magellan >
            <li><a href="#about">About Us</a></li>
            <li><a href="#practice-areas">Practice Areas</a></li>
            <li><a href="#attorneys">Attorneys</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </div>

    </div>


    <!--<button type="button" class="button" data-toggle="offCanvas">Open Menu</button>-->

    <!-- Res. Nav Control -->
    <!-- Adside Navigation Toggle -->

</div>
