<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

<script src="https://use.typekit.net/nio5cuz.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>


  {{{body}}}

<script src="/js/app.js"></script>
<script src="/main.js"></script>
  </body>
</html>

