<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>

            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>

            <!-- Menu -->
            <!-- Res. Nav Control -->
            <!-- Adside Navigation Toggle -->
            <ul class="vertical menu">
                <li><a href="#">Foundation</a></li>
                <li><a href="#">Dot</a></li>
                <li><a href="#">ZURB</a></li>
                <li><a href="#">Com</a></li>
                <li><a href="#">Slash</a></li>
                <li><a href="#">Sites</a></li>
            </ul>

        </div>

        <div class="off-canvas-content" data-off-canvas-content>

            <header id="masthead">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="flexwrapped">
                            <img src="images/logo-dark.png" alt="">
                        </div>


                    </div>

                </div>
            </header>






            <div id="page">
                <!-- Page content -->

                <div class="top-bar-container" data-sticky-container>
                    <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
                        <div class="top-bar">
                            <div class="row small-centered large-8 columns">

                                <nav class="menu-centered">
                                    <ul class="horizontal menu" data-magellan>
                                        <li><a href="#about">About Us</a></li>
                                        <li><a href="#practice-areas">Practice Areas</a></li>
                                        <li><a href="#attorneys">Attorneys</a></li>
                                        <li><a href="#news">News</a></li>
                                        <li><a href="#careers">Careers</a></li>
                                        <li><a href="#contact">Contact Us</a></li>
                                    </ul>
                                </nav>


                                <!--<div class="title-bar-left">
                                    <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
                                    <span class="title-bar-title">Foundation</span>
                                </div>-->


                            </div>
                        </div>
                    </div>
                </div>





                <!-- About Us Section -->
                <!-- Main Landing -->
                <section id="about" data-magellan-target="about" class="hero">
                    <div class="row">
                        <div class="large-6 columns text-left">
                            <h1>Experienced Counsel.</h1>
                            <h1>Skilled Advocacy.</h1>
                            <h1><span class="ylw-accent">Wise Solutions</span></h1>
                            <p>
                                We are a small group of lawyers dedicated to providing advice and expertise at the highest levels. We have achieved extraordinary results following the distinctive vision of our founders&mdash; a cohesive team of lawyers intensely focused on solving our
                                clients' most important problems.
                            </p>
                            <button type="button" class="large button ylw-btn">Meet Our Attorneys</button>
                        </div>
                    </div>
                </section>
                <div class="hr"></div>
                <!-- End About Us Section-->



                <!-- Begin Practice Areas -->
                <section id="practice-areas" data-magellan-target="practice-areas">
                    <div class="row large-uncollapse small-collapse">
                        <div class="large-6 small-centered text-center">
                            <h3 class="more-padding"><span class="ylw-accent">Practice</span> Areas</h3>
                            <p>
                                We have experience in the fields of mergers and acquisitions, strategic investments, takeovers and takeover defense, corporate and securities law and corporate governance.
                            </p>
                        </div>
                    </div>
                    <div class="row large-8 columns align-center">

                        <div class="large-6 column">
                            <ul class="practice-list no-bullet">
                                <li>Appellate Advocacy</li>
                                <li>Bankruptcy</li>
                                <li>Civil Rights, Municipal and Constitutionl Law</li>
                                <li>Commercial and Business Litigation</li>
                                <li>Construction Litigation and Counseling</li>
                                <li>Employment Litigation and Counseling</li>
                                <li>General Litigation</li>
                            </ul>
                        </div>
                        <div class="large-6 columns">
                            <ul class="practice-list no-bullet">
                                <li>Insurance and Reinsurance Litigation and Counseling</li>
                                <li>Mass Tort Litigation</li>
                                <li>Products Liability Litigation</li>
                                <li>Professional Liability Litigation</li>
                                <li>Rail, Bus and Other Transport Litigation</li>
                                <li>Toxic TortLitigation</li>
                                <li>Trial Advocacy</li>
                            </ul>
                        </div>
                    </div>
                </section>






                <section id="news" class="news-slider-box">
                    <div class="row large-8 columns align-center">
                        <div class="article-slider">
                            <article>
                                <h3 class="footer-title-small">B.K.E.L Named Most Innovative Law Firm of 2016</h3>
                                <button type="button" class="small button button-white">Read More</button>
                            </article>
                            <article>
                                <h3 class="footer-title-small">B.K.E.L Named Most Innovative Law Firm of 2016</h3>
                                <button type="button" class="small button button-white">Read More</button>
                            </article>
                            <article>
                                <h3 class="footer-title-small">B.K.E.L Named Most Innovative Law Firm of 2016</h3>
                                <button type="button" class="small button button-white">Read More</button>
                            </article>
                        </div>

                    </div>
                </section>








                <section class="vanity">
                    <div class="row">
                        <div class="large-5 medium-4 columns hide-for-small-only logo-space">
                            <hr class="vertical-alignment">
                        </div>
                        <div class="large-2 small-4 columns">
                            <div class="flexwrapped">
                                <img src="/images/logo-light.png" alt=""></div>
                        </div>
                        <div class="large-5 medium-4  hide-for-small-only columns">
                            <hr class="vertical-alignment">
                        </div>
                    </div>
                </section>






                <!-- Pre-Footer Content  -->
                <!-- We'll call this news I guess; and we will omit careers -->
                <section id="careers" data-magellan-target="careers">
                    <div class="callout large secondary">
                        <div class="row">
                            <div class="large-4 columns">
                                <h2 class="nowrap footer-title"><b>Brown Kirkland Ellis &amp; Levinson</b></h2>

                                <p>
                                    <b>
                        We are considered one of the leading transaction and takeover litigation firms in the country, having litigated many of the seminal cases establishing U.S. takeover law.
                    </b>
                                </p>
                                <p>
                                    A tight-knit group of approximately 75 lawyers, we approach each matter with intensity, thoroughness and creativity and build teams appropriate to the circumstances. We make appearances in state and federal courts throughout the country.
                                </p>
                            </div>
                            <div class="large-4  columns">
                                <h3 class="footer-title-small"><b>Recent News</b></h3>
                                <hr class="footer-accent">
                                <article>
                                    <header>
                                        <p class="ylw-accent">Brown Kirkland Ellis &amp; Levinson negotiate settlement claim on behalf of Bank of America</p>
                                    </header>
                                    <section>
                                        <p> Bank of America in negotiating Bank of America’s $8.5 billion settlement of claims involving more than 500 trusts for mortgage-backed securities issued by Countrywide and in resolving multibillion-dollar claims
                                            arising from the foreclosure crisis with the federal government and 49 state attorneys general.</p>
                                    </section>
                                </article>
                                <button type="button" class="small button ylw-btn">Read More</button>

                            </div>
                            <div class="large-4 columns">
                                <h3 class="footer-title-small"><strong>Our Locations</strong></h3>
                                <hr class="footer-accent">
                                <h4 class="ylw-accent">New York Office</h4>
                                <address>189 Broadway, new York, New York 10271</address>
                                <h4 class="ylw-accent">New Jersey Office</h4>
                                <address>20 Gateway Center, New Jersey 07102</address>
                                <h4 class="ylw-accent">Pennsylvania Office</h4>
                                <address>17 JFK Boulevard, Philadelphia, PA 19103</address>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Post-Pre-Footer Content.  -->






                <footer>
                    <div class="row">

                        <div class="small-5 columns">
                            <p>&copy; 2016 Brown, Kirkland, Ellis & Levinson LLP</p>
                        </div>


                        <div class="small-7 columns menu-centered">
                            <ul class="menu">
                                <li><a href="#about">About Us</a></li>
                                <li><a href="#practice-areas">Practice Areas</a></li>
                                <li><a href="#attorneys">Attorneys</a></li>
                                <li><a href="#news">News</a></li>
                                <li><a href="#contact">Contact Us</a></li>
                            </ul>

                        </div>

                    </div>
                </footer>
                <!-- En d Footer -->

            </div>












            <!-- Begin Practice Areas -->









        </div>
    </div>
</div>